{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}Vue sur un article{% endblock %}

{% block oc_platform_body %}

  {% include "OCPlatformBundle:Advert:flashbag.html.twig" %}

  {% if advert.image is not null %}
    <img
        src="{{ asset(advert.image.webPath) }}"
        alt="{{ advert.image.alt }}"
    />
  {% endif %}

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}

    {% if advert.updatedAt > advert.date %}
      modifiée le {{ advert.updatedAt|date('d/m/Y') }}
    {% endif %}

    {# On vérifie si le tableau n'est pas vide #}
    {% if not advert.categories.empty %}
      {# On affiche les catégories #}
      {% for category in advert.categories %}
        {{ category.name }}
        {# Permet de ne pas ajouter la virgule sur la dernière boucle #}
        {% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if not advert.advertSkills.empty %}
      {# On affiche les skills et leurs niveau pour l'annonce #}
      {% for advertSkill in advert.advertSkills %}
        {{ advertSkill.skill.name }}: Niveau {{ advertSkill.level }}
        {# Permet de ne pas ajouter la virgule sur la dernière boucle #}
        {% if not loop.last %}
          ,
        {% endif %}
      {% endfor %}
    {% endif %}
  </i>


  <div class="well">
    {{ advert.content }}
  </div>

  <h5>Candidatures</h5>
  {% if not advert.applications.empty %}
    {% for application in advert.applications %}
      <h6>Par {{ application.author }}, le {{ application.date|date('d/m/Y') }}</h6>
      <div class="well">
        {{ application.content }}
      </div>
    {% endfor %}
  {% else %}
    <div class="well">
      Pas encore de candidature pour cette annonce !
    </div>
  {% endif %}

  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
{% endblock %}